.ally-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

h1, h2, p, div, section{
    margin: 0;
    padding: 0;
    font-size: initial;
}

button{
    background: none;
    border: none;
}

footer{
    margin: 0;
    padding: 0;
}